@model User

<div class="row">
    <div class="col-md-2">
        <div class="bg-white p-2">
            <img src="/img/@Model.Image" class="img-fluid" alt="">
        </div>
    </div>
    <div class="col-md-10">
        <div class="bg-white p-4">
            <h5>@Model.Name</h5>
            <hr>
            <div id="posts">
                <h5 class="my-4">Yayınlanan Gönderiler</h5>
                <ul class="list-group">
                    @foreach(var post in @Model.Posts)
                    {
                        <li class="list-group-item"><i class="bi bi-caret-right-fill"></i> <a href="/posts/details/@post.Url">@post.Title</a></li>
                    }
                </ul>
            </div>
            <div id="comments">
                <h5 class="my-4">Yorumlar</h5>
                <ul class="list-group">
                    @foreach(var comment in @Model.Comments)
                    {
                        <li class="list-group-item"><i class="bi bi-chat-right-text-fill"></i> @comment.Text <i><u>[@comment.Post.Title]</u></i></li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>