@model IEnumerable<Product>
@{
    ViewData["Title"] = "Home Page";
}

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th style="width: 100px;">@Html.DisplayNameFor(m => m.ProductId)</th>
            <th style="width: 100px;">@Html.DisplayNameFor(m => m.Image)</th>
            <th>@Html.DisplayNameFor(m => m.Name)</th>
            <th style="width: 100px;">@Html.DisplayNameFor(m => m.Price)</th>
            <th style="width: 130px;"></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var prd in @Model)
        {
            <tr>
                <td>@prd.ProductId</td>
                <td>
                    <img src="~/img/@prd.Image" class="img-fluid" alt="">
                </td>
                <td>@prd.Name</td>
                <td>@prd.Price</td>
                <td>
                    <a href="" class="btn btn-sm btn-primary">Edit</a>
                    <a href="" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>