@model IEnumerable<Ogrenci>

<h2>Öğrenci Listesi</h2>
<a href="/Ogrenci/Create" class="btn btn-primary">Öğrenci Ekle</a>
<hr>
<table class="table table-bordered">
    <thead>
        <tr>
            <th style="width: 150px;">@Html.DisplayNameFor(m => m.OgrenciId)</th>
            <th>@Html.DisplayNameFor(m => m.OgrenciAd)</th>
            <th>@Html.DisplayNameFor(m => m.OgrenciSoyad)</th>
            <th style="width: 150px;"></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.OgrenciId)</td>
                <td>@Html.DisplayFor(modelItem => item.OgrenciAd)</td>
                <td>@Html.DisplayFor(modelItem => item.OgrenciSoyad)</td>
                <td>
                    <a href="" class="btn btn-sm btn-primary">Details</a>
                    <a href="" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }

    </tbody>
</table>